body.single{
  gap: 0;
  main{
    section{
      div.wrapper-section{

      }
      &.heading{
        padding: 10em 1em;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: 1;
        &::before{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          //background: rgb(255,255,255);
          background: linear-gradient(180deg, rgba($noir-noir,.25) 0%, rgba($noir-noir,1) 100%);
          z-index: -1;
        }
        div.wrapper-section{
          z-index: 2;
          h1{
            color: $blanc;
          }
          a{
            &.addToFavorite{
              position: absolute;
              bottom: 1em;
              right: 1em;
              z-index: 99;
              text-decoration: none;
              color: $blanc;
              transition: all ease-in 150ms;
              &:hover, &:focus{
                transform: scale(1.1);
              }
            }
            &.back{
              position: absolute;
              bottom: 1em;
              left: 1em;
              color: $blanc;
              &:hover, &:focus{
                color: $second-color;
              }
            }
          }

        }
      }
    }
  }
}