header{
  background-color: $main-color;
  padding: 1em;
  div.wrapper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em 4em;
    a.logo{
      text-decoration: none;
      span{
        font-size: 50px;
        color: $blanc;
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: bold;
      }
    }
    nav{
      //display: none;
      ul{
        display: flex;
        align-items: center;
        gap: 1em 2em;
        li.menu-item{
          a{
            text-decoration: none;
            color: $blanc;
            font-family: $display-font;
            transition: all ease-in 150ms;
            span{
              display: flex;
              align-items: center;
              gap: 10px;
            }
            &:hover, &:focus{
              color: $second-color;
            }
          }
        }
      }
    }
  }
}