@import "vendors/reset.css";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

html body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2em 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #2f3640;
}
html body main {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
html body main section, html body main header {
  padding: 0 1em;
}
html body main section div.wrapper-section, html body main section div.wrapper-header, html body main header div.wrapper-section, html body main header div.wrapper-header {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}
html body main section div.wrapper-section h1, html body main section div.wrapper-section h2, html body main section div.wrapper-header h1, html body main section div.wrapper-header h2, html body main header div.wrapper-section h1, html body main header div.wrapper-section h2, html body main header div.wrapper-header h1, html body main header div.wrapper-header h2 {
  font-family: "Abril Fatface", cursive;
}
html body main section div.wrapper-section h1, html body main section div.wrapper-header h1, html body main header div.wrapper-section h1, html body main header div.wrapper-header h1 {
  font-size: 3em;
}
html body main section div.wrapper-section h2, html body main section div.wrapper-header h2, html body main header div.wrapper-section h2, html body main header div.wrapper-header h2 {
  font-size: 2em;
}
html body main section.heading div.wrapper-section, html body main header.heading div.wrapper-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
html body main section.heading div.wrapper-section h1, html body main header.heading div.wrapper-section h1 {
  text-align: center;
}
html body main section.heading div.wrapper-section a.back, html body main header.heading div.wrapper-section a.back {
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
  color: #2f3640;
  font-weight: bold;
  transition: all ease-in 150ms;
  display: inline-flex;
  align-self: flex-start;
}
html body main section.heading div.wrapper-section a.back:hover, html body main section.heading div.wrapper-section a.back:focus, html body main header.heading div.wrapper-section a.back:hover, html body main header.heading div.wrapper-section a.back:focus {
  color: #fbc531;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  box-sizing: border-box;
  padding: 4em;
  border-radius: 4px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
form p.wrapper {
  display: inline-block;
}
form p.wrapper.search {
  position: relative;
}
form p.wrapper.search input {
  padding-left: 3em;
}
form p.wrapper span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.5em;
  margin: auto 0;
  height: 100%;
}
form p.wrapper label {
  display: none;
}
form p.wrapper input, form p.wrapper select {
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #2f3640;
  transition: all ease-in 150ms;
}
form p.wrapper input option, form p.wrapper select option {
  display: block;
  padding: 1em;
}
form p.wrapper input[type=submit], form p.wrapper select[type=submit] {
  color: #ffffff;
  background-color: #273c75;
  border: 2px solid #273c75;
  border-radius: 4px;
}
form p.wrapper input[type=submit]:hover, form p.wrapper input[type=submit]:focus, form p.wrapper select[type=submit]:hover, form p.wrapper select[type=submit]:focus {
  background-color: #34509b;
  border-color: #34509b;
  cursor: pointer;
}

header {
  background-color: #273c75;
  padding: 1em;
}
header div.wrapper-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em 4em;
}
header div.wrapper-header a {
  text-decoration: none;
}
header div.wrapper-header a span {
  font-size: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}
header div.wrapper-header nav ul {
  display: flex;
  align-items: center;
  gap: 1em 2em;
}
header div.wrapper-header nav ul li.menu-item a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Abril Fatface", cursive;
  transition: all ease-in 150ms;
}
header div.wrapper-header nav ul li.menu-item a:hover, header div.wrapper-header nav ul li.menu-item a:focus {
  color: #fbc531;
}

body.results main section.results div.wrapper-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
body.results main section.results div.wrapper-section h2 {
  text-align: center;
}
body.results main section.results div.wrapper-section ul.listing-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
body.results main section.results div.wrapper-section ul.listing-results li.result {
  flex-basis: calc((1500px / 4) - ((2em * 3)) / 4);
  flex-grow: 1;
  width: 100%;
  position: relative;
}
body.results main section.results div.wrapper-section ul.listing-results li.result a.addToFavorite {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 99;
  text-decoration: none;
  color: #ffffff;
  transition: all ease-in 150ms;
}
body.results main section.results div.wrapper-section ul.listing-results li.result a.addToFavorite:hover, body.results main section.results div.wrapper-section ul.listing-results li.result a.addToFavorite:focus {
  transform: scale(1.1);
}
body.results main section.results div.wrapper-section ul.listing-results li.result a.link {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 4px;
  overflow: hidden;
  border: none;
  position: relative;
  height: 400px;
  transition: all ease-in 150ms;
  text-decoration: none;
}
body.results main section.results div.wrapper-section ul.listing-results li.result a.link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, black 100%);
  z-index: 1;
}
body.results main section.results div.wrapper-section ul.listing-results li.result a img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: all ease-in 200ms;
}
body.results main section.results div.wrapper-section ul.listing-results li.result a div.text-wrapper {
  box-sizing: border-box;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: 2;
}
body.results main section.results div.wrapper-section ul.listing-results li.result a div.text-wrapper span.title {
  font-weight: 400;
  font-family: "Abril Fatface", cursive;
  color: #ffffff;
}
body.results main section.results div.wrapper-section ul.listing-results li.result a div.text-wrapper p.known_for_department {
  font-weight: 400;
  color: #ffffff;
}
body.results main section.results div.wrapper-section ul.listing-results li.result a div.text-wrapper p.overview {
  overflow: hidden;
  transition: all ease-in 150ms;
  color: #ffffff;
  font-size: 0.8em;
  opacity: 0;
  height: 0px;
  text-overflow: ellipsis;
}
body.results main section.results div.wrapper-section ul.listing-results li.result a:hover img, body.results main section.results div.wrapper-section ul.listing-results li.result a:focus img {
  transform: scale(1.1);
}
body.results main section.results div.wrapper-section ul.listing-results li.result a:hover div.text-wrapper p.overview, body.results main section.results div.wrapper-section ul.listing-results li.result a:focus div.text-wrapper p.overview {
  opacity: 1;
  height: 50px;
}

body.single {
  gap: 0;
}
body.single main section.heading {
  padding: 10em 1em;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}
body.single main section.heading::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, black 100%);
  z-index: -1;
}
body.single main section.heading div.wrapper-section {
  z-index: 2;
}
body.single main section.heading div.wrapper-section h1 {
  color: #ffffff;
}
body.single main section.heading div.wrapper-section a.addToFavorite {
  position: absolute;
  bottom: 1em;
  right: 1em;
  z-index: 99;
  text-decoration: none;
  color: #ffffff;
  transition: all ease-in 150ms;
}
body.single main section.heading div.wrapper-section a.addToFavorite:hover, body.single main section.heading div.wrapper-section a.addToFavorite:focus {
  transform: scale(1.1);
}
body.single main section.heading div.wrapper-section a.back {
  position: absolute;
  bottom: 1em;
  left: 1em;
  color: #ffffff;
}
body.single main section.heading div.wrapper-section a.back:hover, body.single main section.heading div.wrapper-section a.back:focus {
  color: #fbc531;
}

body.favorites main section.favoris div.wrapper-section ul.listing li {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
body.favorites main section.favoris div.wrapper-section ul.listing li a.removeToFavorite {
  color: #ff4757;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
