$max-width : 1500px;
$main-color: #273c75;
$second-color: #fbc531;
$blanc : #ffffff;
$noir: #2f3640;
$noir-noir : #000000;

$display-font : 'Abril Fatface', cursive;
$main-font : 'Roboto', sans-serif;
$border-radius : 4px;